.footer-link {
	color: white;
}
.footer-link:hover {
	color: #e0e0e0;
}

body {
	background-color: #181a1b;
	color: #fff;
}

.subheader {
	color: #fff;
	background-color: #181a1b;
	padding-left: 15px;
}

/* Legend specific, from https://codepen.io/haakseth/pen/KQbjdO */
.legend {
	padding: 6px 8px;
	font: 14px Arial, Helvetica, sans-serif;
	background-color: #181a1b;
	/*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
	/*border-radius: 5px;*/
	line-height: 24px;
	color: #aaa;
}

.legend h4 {
	text-align: center;
	font-size: 16px;
	margin: 2px 12px 8px;
	color: #888;
}

.legend span {
	position: relative;
	bottom: 3px;
}

.legend i {
	width: 22px;
	height: 22px;
	float: left;
	margin: 0 8px 0 0;
	opacity: 0.7;
	border-radius: 50%;
}

.legend .incident-icon {
	width: 35px;
	height: 35px;
	float: left;
	margin: 0 8px 0 0;
	opacity: 0.7;
	border-radius: 50%;
	background-image: url('../images/flame-icon.png');
	background-size: 35px;
}

.legend i.icon {
	background-size: 18px;
	background-color: rgba(255, 255, 255, 1);
}

.legend li {
	list-style: none;
	margin: 0 0 15px;
}

/* For phones and whatnot */
@media (max-width: 1280px) { 
	#map {
		height: 90vh;
	}
	#popup-info {
		font-size: 22px;
	}
}

/* For desktops */
@media (min-width: 1280px) {
	#map {
		height: 93vh;
	}
	#popup-info {
		font-size: 14px;
	}
}
