#footer-link:visited {
	color: blue;
}

#footer-link:visited {
	color: blue;
}

/* For phones and whatnot */
@media (max-width: 1280px) { 
	#map {
		height: 1500px;
		width: 100%;
	}
}

/* For desktops */
@media (min-width: 1280px) {
	#map {
		height: 850px;
		width: 100%;
	}
}
